@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato LightItalic";
    src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face {
    font-family: "ReklameScript RegularDEMO";
    src: url(../fonts/Reklame-Script-Regular-DEMO.ttf);
}